main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

img {
    height: 400px
}